# UEFI HTTP: http://ftp.au.debian.org/debian/dists/stable/main/installer-amd64/
# Kernel Args: quiet auto=true url=http://config.andrew-stclair.com/debian-ots-preseed.cfg netcfg/get_hostname=debian-install netcfg/get_domain=andrew-stclair.com
d-i debian-installer/language string en
d-i debian-installer/country string AU
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/get_hostname string ots
d-i netcfg/get_domain string andrew-stclair.com
d-i passwd/root-login boolean false
d-i passwd/user-fullname string OpenTAKServer
d-i passwd/username string ots
d-i passwd/user-password-crypted password $6$dOlSXr41rnESEn5Q$ko4FNtG8V2ZWcg0qqnhMPE0atYGssQTrQqhr1KPf/AAIhFkaTjyDqQAQEFx6Pp6X5pAPwPsIl3LAnrhAA/tcr1
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string time.andrew-stclair.com
d-i clock-setup/utc boolean true
d-i time/zone string Australia/Victoria
d-i partman-partitioning/choose_label string gpt
d-i partman-auto/disk string /dev/vda
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i apt-setup/use_mirror boolean true
d-i mirror/country string AU
d-i mirror/http/mirror select deb.debian.org
d-i mirror/http/proxy string
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/disable-cdrom-entries boolean true
popularity-contest popularity-contest/participate boolean false
tasksel tasksel/first multiselect standard,ssh-server,curl
d-i pkgsel/include string nano git openssh-client
d-i finish-install/reboot_in_progress note
d-i cdrom-detect/eject boolean false
